
*{
margin:0px;
padding:0px;
}
body{
	text-align:center;
}
#big_wrapper{
	max-width:1000px;
	display:-webkit-box;
	-webkit-box-flex:1;
	margin:20px 0px;
	-webkit-box-orient:vertical;
	
}	
#top_header{
	border: 20px top black;
	background:grey;
	padding:5px;
	color: lightblue;
	
}
#top_nav{
width=1000px;
margin:20px;
}
#main_section{
	border: 2px solid lightblue;
	margin:10px;
	padding:5px;
	width:800px;
	-webkit-box-flex:1;
	-webkit-border-radius:5px;
	
}
table, th , td {
border: 1px solid grey;
border-collapse: collapse;
padding: 4px;
font-family: arial;
height:5px;
}
/*Style for Table Header*/
th {
background: darkblue;
color: white;
text-align: left;
}
/*Style for Alternate Rows*/
table tr:nth-child(odd) {
background-color: #C2EBC3;
}
table tr:nth-child(even) {
background-color: #FFFFFF;
}
#side_news{
	border: 1px solid lightblue;
	width:200px;
	margin:20px;
	padding:5px;
	background:lightblue;
	-webkit-border-radius:10px;
	-webkit-box-orient:horizontal;
	height:200px;
	display:inline-block;
}
td { cursor: pointer;}

